@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply py-2 px-3 rounded border border-gray-200 bg-gray-100 placeholder:text-slate-500 outline-cyan-600;
  }
}

#__next,
html,
body {
  @apply flex flex-col;
  min-height: 100%;
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
}

.swiper {
  position: relative;
  margin: -16px 0;

  .swiper-wrapper {
    padding: 16px 0;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

.slider {
  position: relative;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #ced4da;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #9fe5e1;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: #dee2e6;
  font-size: 12px;
  margin-top: 20px;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 100%;
  outline: none;
}

.thumb--zindex-3 {
  z-index: 3;
}

.thumb--zindex-4 {
  z-index: 4;
}

.thumb--zindex-5 {
  z-index: 5;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

// .popup-enter {
//   opacity: 0;
//   transform: scale(0.9);
// }
// .popup-enter-active {
//   opacity: 1;
//   transform: translateX(0);
//   transition: opacity 300ms, transform 300ms;
// }
// .popup-exit {
//   opacity: 1;
// }
// .popup-exit-active {
//   opacity: 0;
//   transform: scale(0.9);
//   transition: opacity 300ms, transform 300ms;
// }
// .navbar {
//   width: 32px;
//   height: 32px;
// }

.loading,
.loading,
.loading {
  background-color: #ededed;
  background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 60%
    )
    #ededed;
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

main {
  background: #f6f6f6 !important;
  flex: 1;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

label + input[type="checkbox"]:checked ~ ul {
  display: flex;
}

.popup-exit-done {
  display: none;
}

.popup-enter {
  opacity: 0;
}
.popup-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.popup-exit {
  opacity: 1;
}
.popup-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
